.footer{
  background-color: black;
  height: 30px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

i{
  color: rgba(255, 255, 255, 0.712);
}

span{
  color: rgba(255, 255, 255, 0.712);
  font-size: 15px;

}
