@use '../../templates/newStyle.scss' as guns;

body {
  @extend %background-gun !optional;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;

}

.MP7, .MP5, .AUG, .UZI, .FENNEC, .STRIKER, .P90, .PP19 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: -12px;
  height: 200px;
  width: 200px;
  background-color: rgba(173, 170, 170, 0.877);
  transition:all 0.3s ease;
  flex-wrap: nowrap;
}

.MP7:hover, .MP5:hover, .AUG:hover, .UZI:hover, .FENNEC:hover, .STRIKER:hover, .P90:hover, .PP19:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.MP7-img, .MP5-img, .AUG-img, .UZI-img, .FENNEC-img, .STRIKER-img, .P90-img, .PP19-img {
  align-self: flex-start;
  width: 150px;
  margin-left: 24px;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

span {
  font-size: 15px;
  margin-top: 7px;
}

footer {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MP7-img {
  width: 120px;
  margin-left: 45px;
}





