<body>

  <div>

    <mat-card class="ORIGIN">
      <img class='ORIGIN-img' matCardImage src="../../../assets/guns/shotgun/origin12-removebg-preview.png">
      <h1>ORIGIN 12</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="R90">
      <img class='R90-img' matCardImage src="../../../assets/guns/shotgun/r90.png">
      <h1>R9-0</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="JAK12">
      <img class='JAK12-img' matCardImage src="../../../assets/guns/shotgun/jak12.png">
      <h1>JAK-12</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="VLK">
      <img class='VLK-img' matCardImage src="../../../assets/guns/shotgun/vlk-rogue.png">
      <h1>VLK-ROGUE</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="MD680">
      <img class='MD680-img' matCardImage src="../../../assets/guns/shotgun/model680.png">
      <h1>MODEL 680</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="MD725">
      <img class='725-img' matCardImage src="../../../assets/guns/shotgun/725.png">
      <h1>725</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

</body>
