<body>

  <div>
    <mat-card class="M4A1">
      <img class='M4A1-img' matCardImage src="../../../assets/guns/assaults/M4A1-1-removebg-preview.png">
      <h1>M4A1</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </footer>


    </mat-card>
    <mat-card>a</mat-card>
  </div>
  <div>
    <mat-card>a</mat-card>
    <mat-card>a</mat-card>
  </div>
  <div>
    <mat-card>a</mat-card>
    <mat-card>a</mat-card>
  </div>
  <div>
    <mat-card>a</mat-card>
    <mat-card>a</mat-card>
  </div>

</body>
