@use '../../templates/newStyle.scss' as guns;

body {
  @extend %background-gun !optional;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;

}

.M4A1, .RAM7, .M13, .KILO, .GRAU, .AK47, .ODEN, .SCAR {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: -12px;
  height: 200px;
  width: 200px;
  background-color: rgba(173, 170, 170, 0.877);
  transition:all 0.3s ease;
  flex-wrap: nowrap;
}

.M4A1:hover, .RAM7:hover, .M13:hover, .KILO:hover, .GRAU:hover, .AK47:hover, .ODEN:hover, .SCAR:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.M4A1-img, .RAM7-img, .M13-img, .KILO-img, .GRAU-img, .AK47-img, .ODEN-img, .SCAR-img {
  align-self: flex-start;
  width: 150px;
  margin-left: 24px;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

span {
  font-size: 15px;
  margin-top: 7px;
}

footer {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}







