<body>

  <div>

    <mat-card class="M4A1">
      <img class='M4A1-img' matCardImage src="../../../assets/guns/assaults/M4A1-1-removebg-preview.png">
      <h1>M4A1</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="RAM7">
      <img class='RAM7-img' matCardImage src="../../../assets/guns/assaults/ram-7-removebg-preview.png">
      <h1>RAM-7</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="M13">
      <img class='M13-img' matCardImage src="../../../assets/guns/assaults/m13.png">
      <h1>M13</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="KILO">
      <img class='KILO-img' matCardImage src="../../../assets/guns/assaults/kilo141.png">
      <h1>KILO 141</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="GRAU">
      <img class='GRAU-img' matCardImage src="../../../assets/guns/assaults/grau-556.png">
      <h1>GRAU 5.56</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="AK47">
      <img class='AK47-img' matCardImage src="../../../assets/guns/assaults/ak47.png">
      <h1>AK-47</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="ODEN">
      <img class='ODEN-img' matCardImage src="../../../assets/guns/assaults/oden.png">
      <h1>ODEN</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="SCAR">
      <img class='SCAR-img' matCardImage src="../../../assets/guns/assaults/fn-scar-17.png">
      <h1>SCAR 17</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

</body>
