<body>
  <div>
    <mat-card class="card" routerLink='/guns/assault-riffles'>
      <img class='img-ar' src="../../../assets/guns/assaults/M4A1-1-removebg-preview.png" alt="">
      <span>Assault Riffles</span>
    </mat-card>
    <mat-card class="card" routerLink='/guns/smgs'>
      <img class="img-smg" src="../../../assets/guns/smgs/mp7_0_5x-removebg-preview.png" alt="">
      <span>SMGs</span>
    </mat-card>
    <mat-card class="card" routerLink='/guns/shotguns'>
      <img class="img-sg" src="../../../assets/guns/shotgun/origin12-removebg-preview.png" alt="">
      <span>Shotguns</span>
    </mat-card>
    <mat-card class="card" routerLink='/guns/lmgs'>
      <img class="img-lmg" src="../../../assets/guns/lmgs/bruen-mk9-removebg-preview.png" alt="">
      <span>LMGs</span>
    </mat-card>
  </div>

  <div>
    <mat-card class="card" routerLink='/guns/marksman-riffles'>
      <img class="img-mr" src="../../../assets/guns/marksman/kar98k-removebg-preview.png" alt="">
      <span>Marksman Riffles</span>
    </mat-card>
    <mat-card class="card" routerLink='/guns/sniper-riffles'>
      <img class="img-snp" src="../../../assets/guns/sniper/ax50-removebg-preview.png" alt="">
      <span>Sniper Riffles</span>
    </mat-card>
    <mat-card class="card" routerLink='/guns/handguns'>
      <img class="img-hand" src="../../../assets/guns/handgun/357-removebg-preview.png" alt="">
      <span>Handguns</span>
    </mat-card>
    <mat-card class="card" routerLink='/guns/launchers'>
      <img class="img-rpg" src="../../../assets/guns/rpg/rpg-7-removebg-preview.png" alt="">
      <span>Launchers</span>
    </mat-card>
  </div>

</body>

<!-- <button mat-button>Assault Riffle</button>
    <button mat-button>SMGs</button>
    <button mat-button>Shotgun</button>
    <button mat-button>LMGs</button>

    <button mat-button>Marksman Rifles</button>
    <button mat-button>Sniper Rifle</button>
    <button mat-button>Handgun</button>
    <button mat-button>Launchers</button>
 -->
