<body>
  <div>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
  </div>

  <div>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
  </div>

</body>

<!-- <button mat-button>Assault Riffle</button>
    <button mat-button>SMGs</button>
    <button mat-button>Shotgun</button>
    <button mat-button>LMGs</button>

    <button mat-button>Marksman Rifles</button>
    <button mat-button>Sniper Rifle</button>
    <button mat-button>Handgun</button>
    <button mat-button>Launchers</button>
 -->
