<body>

  <div>

    <mat-card class="KAR">
      <img class='KAR-img' matCardImage src="../../../assets/guns/marksman/kar98k-removebg-preview.png">
      <h1>KAR98K</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="MK2">
      <img class='MK2-img' matCardImage src="../../../assets/guns/marksman/mk2.png">
      <h1>MK2 CARABINE</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="EBR">
      <img class='EBR-img' matCardImage src="../../../assets/guns/marksman/ebr14.png">
      <h1>EBR-14</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="SPR">
      <img class='SPR-img' matCardImage src="../../../assets/guns/marksman/spr.png">
      <h1>SP-R 208</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="SKS">
      <img class='SKS-img' matCardImage src="../../../assets/guns/marksman/sks.png">
      <h1>SKS</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="CROSSBOW">
      <img class='M91-img' matCardImage src="../../../assets/guns/marksman/crossbow.png">
      <h1>CROSSBOW</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

</body>
