<body>

  <div>

    <mat-card class="BRUEN">
      <img class='BRUEN-img' matCardImage src="../../../assets/guns/lmgs/bruen-mk9-removebg-preview.png">
      <h1>BRUEN-MK9</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="HOLGER">
      <img class='HOLGER-img' matCardImage src="../../../assets/guns/lmgs/holger.png">
      <h1>HOLGER</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="PKM">
      <img class='PKM-img' matCardImage src="../../../assets/guns/lmgs/pkm-removebg-preview.png">
      <h1>PKM</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="SA87">
      <img class='SA87-img' matCardImage src="../../../assets/guns/lmgs/sa87.png">
      <h1>SA87</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="MG34">
      <img class='MG34-img' matCardImage src="../../../assets/guns/lmgs/mg34.png">
      <h1>MG34</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="M91">
      <img class='M91-img' matCardImage src="../../../assets/guns/lmgs/m91.png">
      <h1>M91</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="FINN">
      <img class='FINN-img' matCardImage src="../../../assets/guns/lmgs/finn.png">
      <h1>FiNN</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="STONER">
      <img class='STONER-img' matCardImage src="../../../assets/guns/lmgs/stoner63.png">
      <h1>STONER-63</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

</body>
