%background-gun {
  height: 88%;
  background-image: url('../../assets/guns-page-MW.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


%background-home {
  background-image: url('../../assets/Atiradores-MW.jpg');
  height: 88%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

%background-maps {
  background-image: url('../../assets/maps/maps.jpg');
  height: 88%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


