<body>
  <div>

    <mat-card class="RPG">
      <img class='RPG-img' matCardImage src="../../../assets/guns/rpg/rpg-7-removebg-preview.png">
      <h1>RPG-7</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="PILA">
      <img class='PILA-img' matCardImage src="../../../assets/guns/rpg/pila.png">
      <h1>PILA</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>

  <div>

    <mat-card class="JOKR">
      <img class='JOKR-img' matCardImage src="../../../assets/guns/rpg/jokr.png">
      <h1>JOKR</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

    <mat-card class="STRELA">
      <img class='STRELA-img' matCardImage src="../../../assets/guns/rpg/strela.png">
      <h1>STRELA-P</h1>
      <footer>
        <span>Damage</span><mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
        <span>Control Recoil</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span>Precision</span><mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
      </footer>
    </mat-card>

  </div>
</body>
